@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #252627;
}


.reviews-slider {
    width: 100%;
}

.reviews-slider .swiper-slide {
    width: auto !important;
}

.pta4u-hero-slider .swiper-pagination-bullet {
    border: 2px solid rgb(255,255,255);
    background-color: transparent;
    opacity: 0.7;
}
.pta4u-hero-slider .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: white;
    border-color: transparent;
}
